@use "variables" as *;
@use "mixins" as *;

// Extra Stripping Styles:
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// Base Styles:
body {
    overflow-x: hidden;
    background-color: $primaryColour;
}

.wrapper {
    max-width: 1560px;
    width: 90%;
    margin: 0 auto;
}

.wrapperHeader {
    position: relative;
    max-width: 760px;
    width: 90%;
    margin: 0 auto;
    @include flex (row, nowrap, center, center)
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    &:hover {
        transition: 0.5s;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hiddenScrollbar::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hiddenScrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 