@use "variables" as *;
@use "mixins" as *;

table {
    background: white;
    border-radius: 40px;
    text-align: left;
    overflow: scroll;
    max-width: calc(100% - 80px);
    width: fit-content;
    font-size: 0.8rem;
    empty-cells: show;
    margin: 20px auto 0 auto;
    max-height: 400px;
    @include flex(row, nowrap, flex-start, flex-start);
    thead, tbody {
        @include flex(row, nowrap, center, center);
        padding: 20px 0 40px;

        tr {
            width: 180px;
            @include flex (column);
            margin: -20px 0 -40px;
            padding: 20px 0 40px;
        }
        th {
            padding-left: 10px;
            line-height: 1.5rem;
        }
        td {
            line-height: 1.5rem;
        }
    }
    thead {
        padding-left: 40px;
        margin-top: 0;
        padding-right: 0px;
        margin-right: 30px;
        box-shadow: 0 0 40px #999999;
        .tableItem, .tableServing, .tableMacros, .tableMicros {
            text-transform: uppercase;
        }
        .tableItem {
            padding-top: 0;
        }
        .tableServing {
            padding-top: 20px;
        }
        .tableMacros, .tableMicros {
            padding-left: 0;
        }
    }
    .tableItem, .tableServing {
        border-bottom: 2px solid #333333;
        padding: 10px 10px 10px 0;
    }
    td.tableItem {
        padding: 0 40px 0 30px;
        position: relative;
        button {
            position: absolute;
            top: 0;
            right: 20px;
        }
    }
    .tableItem {
        height: 70px;
        line-height: 1rem;
    }
    .tableServing {
        height: 70px;
        line-height: 1rem;
        padding-top: 16px;
    }

    tbody {
        padding-left: 0 !important;
        margin-left: -30px;
        .tableServing {
            margin-bottom: 40px;
            padding-left: 30px;
        }
        .tableFiller {
            height: 40px;
        }
        th, td {
            padding-left: 30px;
        }
    td {
        height: 30px;
    }
    }
    button { 
        border: none;
        background-color: transparent;
        margin-left: 10px;
    }
    tr:nth-child(even) {
        background: #eeeeee;
      }
    .tableMicros, .tableFiller {
        border-top: 2px solid #999999;
    }
    .tableMicros, .tableFiller, .tableMacros {
        margin-top: 10px;
    }
    .tableMicros {
        padding-top: 10px;
    }
    .minusButton {
        font-size: 1rem;
    }
}
