// COLOURS:
$primaryColour: #C4E39C;
$secondaryColour: #FF9D7F;
$tertiaryColour: #5BC5FF;
$quaternaryColour: #3f3f3f;
$fontColour: #000;
$whiteColor: #FFF;


// FONTS:
$mainFont: "lato";
$accentFont: "cormorantGaramond";