@use "partials/setup";
@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/typography";
@use "partials/baseStyles";
@use 'partials/results';
@use "partials/table";
@use "partials/favouritesList";
@use "partials/main";
@use "partials/mediaQueries";

.App {
    position: relative;

    header, footer {
        position: fixed;
        background-color: white;
        z-index: 10;
        width: 100%;
        @include flex(row);
        align-items: center;
        justify-content: center;
    }

    header {
        img {
            height: 80px;
            margin-right: 20px;
        }
        top: 0;
        height: 125px;
    }

    footer {
        bottom: 0;
        height: 40px;
        p {
            margin: 0;
        }
    }
}

.login {
    height: 100vh;
    .formLogin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 45px));
        border-radius: 50px;
        background-color: $whiteColor;
        width: 90%;
        max-width: 450px;
        padding: 40px;
        @include flex (row, wrap);
        label {
            width: 100%;
            margin-bottom: 5px;
        }
        input {
            background-color: $primaryColour;
            border: none;
            border-radius: 15px;
            width: 100%;
            margin-bottom: 10px;
            padding: 5px 15px;
            font-size: 18px;
            &:hover {
                    background-color: rgba($primaryColour, 0.5);
                    transition: 0.5s;
                }
        }
        .smallButton {
            width: calc(50% - 10px);
            border: none;
            background-color: $secondaryColour;
            border-radius: 15px;
            margin-top: 15px;
            padding: 5px 0;
            &.right {
                margin-left: 20px;
            }
            &:hover {
                background-color: rgba($secondaryColour, 0.5);
            }
        }
        .bigButton {
            width: 100%;
            border: none;
            background-color: $tertiaryColour;
            border-radius: 15px;
            margin-top: 25px;
            padding: 5px 0;
            &:hover {
                background-color: rgba($tertiaryColour, 0.5);
            }
        }
    }
    .formLogout {
        position: fixed;
        z-index: 10;
        right: 5%;
        top: 30px;

        button {
            font-size: 2.5rem;
            background-color: $primaryColour;
            border: none;
            border-radius: 30px;
            padding: 5px;
            margin-right: 20px
        }
    }
    .accountInfo {
        background-color: $whiteColor;
        width: 70%;
        padding: 20px;
        border-radius: 40px;
        @include flex(column, nowrap);
        .profile, .favouritesNumber {
            margin: 10px 5px;
            width: 100%;
            word-wrap: break-word;
            text-align: center;
        }
        .profile {
            font-size: 0.8rem;
            i {
                font-size: 2rem;
                padding-bottom: 5px;
            }
        }
        .favouritesNumber {
            font-size: 1rem;
            i {
                font-size: 1rem;
                padding-bottom: 10px;
            }
        }
        .logoutButton {
            background-color: $secondaryColour;
            font-size: 1rem;
            width: 100%;
        }

    }
    main {
        @include flex (row, wrap);
        justify-content: center;
        padding-top: 150px;
    }
}