@use "partials/setup";
@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/typography";
@use "partials/baseStyles";
@use 'partials/results';
@use "partials/table";
@use "partials/favouritesList";
@use "partials/main";
@use "partials/mediaQueries";

.App {
    position: relative;

    header, footer {
        position: fixed;
        background-color: white;
        z-index: 10;
        width: 100%;
        @include flex(row);
        align-items: center;
        justify-content: center;
    }

    header {
        img {
            position: absolute;
            left: 0;
            height: 70px;
        }
        top: 0;
        height: 125px;
        .formLogout {
            z-index: 10;
            position: absolute;
            @include flex(column, nowrap, space-between, flex-end);
            gap: 40px;
            right: 0;
            top: 37%;
            button {
                font-size: 2rem;
                background-color: $primaryColour;
                border: none;
                border-radius: 30px;
                padding: 2px 5px;
            }
        }
        .accountInfo {
            background-color: $whiteColor;
            width: 60%;
            padding: 5px 20px 20px;
            border-radius: 40px;
            @include flex(column, nowrap);
            .profile, .favouritesNumber {
                margin: 10px 5px;
                width: 100%;
                word-wrap: break-word;
                text-align: center;
            }
            .profile {
                font-size: 0.8rem;
                i {
                    font-size: 2rem;
                    padding-bottom: 5px;
                }
            }
            .favouritesNumber {
                font-size: 1rem;
                i {
                    font-size: 1rem;
                    padding-bottom: 10px;
                }
            }
            .logoutButton {
                background-color: $secondaryColour;
                padding: 7px;
                font-size: 1rem;
                width: 100%;
                transition: 50ms;
                &:hover, &:focus {
                    background-color: $whiteColor;
                    border: 3px solid $secondaryColour;
                    padding: 5px;
                }

            }
        }
    }

    footer {
        bottom: 0;
        height: 40px;
        p {
            margin: 0;
        }
    }
}

.login {
    height: 100vh;
    .formLogin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 45px));
        border-radius: 50px;
        background-color: $whiteColor;
        width: 90%;
        max-width: 450px;
        padding: 40px;
        @include flex (row, wrap);
        label {
            width: 100%;
            margin-bottom: 5px;
        }
        input {
            background-color: $primaryColour;
            border: none;
            border-radius: 15px;
            width: 100%;
            margin-bottom: 10px;
            padding: 5px 15px;
            font-size: 18px;
            &:hover {
                    background-color: rgba($primaryColour, 0.5);
                    transition: 0.5s;
                }
        }
        .smallButton {
            width: calc(50% - 10px);
            border: none;
            background-color: $secondaryColour;
            border-radius: 15px;
            margin-top: 15px;
            padding: 5px 0;
            &.right {
                margin-left: 20px;
            }
            &:hover {
                background-color: rgba($secondaryColour, 0.5);
            }
        }
        .bigButton {
            width: 100%;
            border: none;
            background-color: $tertiaryColour;
            border-radius: 15px;
            margin-top: 25px;
            padding: 5px 0;
            &:hover {
                background-color: rgba($tertiaryColour, 0.5);
            }
        }
    }
    main {
        @include flex (row, wrap);
        justify-content: center;
        padding-top: 150px;
    }
}